.create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    align-self: center;
    text-align: center;
    color: white;
    text-shadow:5px 5px 10px black;
    font-weight: bolder;
    margin: auto;
    font-weight: bolder; 
}

.create-form:hover {
    cursor: url('http://www.rw-designer.com/cursor-view/26747.png'), auto;
}

.select-class:hover {
    cursor: url('http://www.rw-designer.com/cursor-view/26747.png'), auto;
}

.label-class:hover {
    cursor: url('http://www.rw-designer.com/cursor-view/26747.png'), auto;
}

.option-class:hover {
    cursor: url('http://www.rw-designer.com/cursor-view/26747.png'), auto;
}

.input-class:hover {
    cursor: url('http://www.rw-designer.com/cursor-view/26747.png'), auto;
}